{
    "twitter": {
        "consumer_key": "<consumer_key>",
        "consumer_secret": "<consumer_secret>",
        "access_token_key": "<access_token_key>",
        "access_token_secret": "<access_token_secret>"
    },
    "mongo": "mongodb://localhost/sas",
    "paths": {
        "blobs": "dumps/blobs/",
        "tokens": "dumps/tokens/",
        "metas": "dumps/metas/",
        "logs": "dumps/logs/",
        "positive_words": "data/positive-words.txt",
        "negative_words": "data/negative-words.txt",
        "stop_words": "data/stopwords.txt",
        "afin": "data/afin.txt",
        "slan_words": "data/slanwords.txt"
    },
    "defaults": {
        "collect": {
            "count": 100,
            "max_count": 100
        },
        "ngram": {
            "count": 5
        }
    }
}
