extends layout

block content
  .row
    .col-lg-10.col-lg-offset-1
      table.table.table-striped.table-bordered#historyTable
        thead
          tr
            th(width="100").text-center #
            th Topic
            th Time
        tbody
